<!DOCTYPE html>
<html>
<head>
    <title>Chat Rooms</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <h1>Chat Rooms</h1>
    <div id="room-container">
        <input type="text" id="username" placeholder="Username">
        <input type="text" id="room" placeholder="Room">
        <button id="create">Create Room</button>
    </div>
    <h2>Available Rooms:</h2>
    <div id="rooms"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io();

            function setup(rooms){
                var roomsContainer = document.getElementById('rooms');
                roomsContainer.innerHTML = '';
                rooms.forEach(function(room) {
                    const roomElement = document.createElement('div');
                    roomElement.id = room;
                    roomElement.innerHTML = `
                        <h2>${room}</h2>
                    `;
                    roomElement.addEventListener('click', () => {
                        var username = document.getElementById('username').value;
                        if (username !== '')
                            window.location.href = `/room/${room}/${username}`;
                    });
                    roomsContainer.appendChild(roomElement);
                });
            }

            document.getElementById('create').addEventListener('click', function() {
                var username = document.getElementById('username').value;
                var room = document.getElementById('room').value;
                if (username !== '' && room !== '') {
                    socket.emit('join', {username: username, room: room});
                    window.location.href = `/room/${room}/${username}`;
                } else {
                    alert('Please enter both a username and a room name.');
                }
            });

            socket.on('update_rooms', function(rooms) {
                setup(rooms);
            });

            // Fetch existing rooms on page load
            fetch('/rooms')
                .then(response => response.json())
                .then(rooms => {
                    setup(rooms);
                });
        });
    </script>
</body>
</html>
