<!DOCTYPE html>
<html>

<head>
    <title>Chat Rooms</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body>
    <h1>Chat Rooms</h1>
    <div id="room-container">
        <input type="text" id="username" placeholder="Username">
        <input type="text" id="room" placeholder="Room">
        <button id="create">Create Room</button>
    </div>
    <h2>Available Rooms:</h2>
    <div id="rooms"></div>
</body>

</html>