<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnveilMe</title>
</head>
<body>
    <h1>UnveilMe Lobby</h1>

    <div id="form-container">
        <input type="text" id="username" placeholder="Username" />
        <input type="text" id="lobby_name" placeholder="Lobby name" />
        <button id="create">Create Lobby</button>
        <button id="leave">Leave Lobby</button>
        <button id="ready">Toggle Ready</button>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
