<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnveilMe</title>
</head>
<body>
    <h1>UnveilMe Lobby</h1>

    <div id="form-container">
        <button id="leave">Leave Lobby</button>
        <button id="toggleready">Toggle Ready</button>
    </div>

    <div id="player-container"></div>

    <script type="module" src="{{ url_for('static', filename='js/lobby.js') }}"></script>
</body>
</html>
